html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: Operator Mono Lig, sans-serif;
  font-size: $base;
  line-height: $base-lineheight;
  color: $main-color;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.container__full {
  max-width: 1262px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $link;
}

.info__link {
  display: inline-block;
  padding-right: 59px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $more;
  text-transform: uppercase;
  background: url(../images/svg/arrow.svg) no-repeat 95% center;
  transition: all 0.3s;
  &:hover,
  &:focus {
    background: url(../images/svg/arrow.svg) no-repeat right center;
  }
}

.section__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: $main-color;
  position: relative;
  padding-bottom: 10px;
  &::after {
    display: block;
    content: "";
    width: 253px;
    height: 3px;
    background-color: #006dfe;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.msg {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  background: #20454b;
  padding: 5px;
  background-repeat: 5px;
  color: #eee;
  font-size: 24px;
}
