.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 99;
  transition: all 0.3s;

  .header__container {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    .header__list {
      display: flex;
      flex-wrap: wrap;

      .header__item {
        margin-right: 80px;
        &:last-child {
          margin-right: 0;
        }

        .header__link {
          font-size: 18px;
          line-height: 24px;
          transition: all 0.3s;
          &:hover,
          &:focus,
          &:active {
            opacity: 0.75;
          }
        }
      }
    }
  }
}
