.top {
  padding-bottom: 130px;

  .top__title {
    margin-bottom: 54px;
  }

  .top__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 57px;
    row-gap: 57px;

    .top__card {
      display: flex;
      flex-direction: column;
      grid-column: span 2;

      .top__icon {
        position: relative;
        margin-bottom: 45px;

        .top__stats {
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
          padding: 16px 25px;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          color: $link;

          .top__heading {
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-transform: uppercase;
            margin: 0 auto 0 0;
          }

          .top__likes,
          .top__comments {
            font-size: 16px;
          }

          .top__likes {
            padding-right: 20px;
            margin-right: 14px;
            background: url(../images/svg/heart.svg) no-repeat right;
          }

          .top__comments {
            padding-right: 23px;
            background: url(../images/svg/comment.svg) no-repeat right;
          }
        }
      }
    }

    .top__desc {
      margin-bottom: 30px;
      line-height: 24px;
    }

    .top__more {
      width: 118px;
      padding: 12px 19px;
      margin: auto 0 0 0;
      background: $more;
      text-transform: uppercase;
      border: 0;
      transition: all 0.3s;
      &:hover,
      &:focus,
      &:active {
        background-color: #285fa8;
      }
    }
  }
}
